<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estudo de Caso Senai</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<div>
    <div class="container">
        <h1>Classificação de Defeitos Máquinas Elétricas</h1>
        {% if result is not none %}
        <h3>Classificação: {{result}}</h3>
        <a href="/">Estimar Novamente</a>
        {% endif %}
        {% if result is none %}
    
    <form action="/estimate" method="post" enctype="multipart/form-data">
        <h3>Faça upload dos arquivos para cada sensor:</h3>
        <div class="form-group">
            <label for="sensor1">Sensor S1:</label>
            <input type="file" class="form-control-file" id="sensor1" name="sensor1" accept=".npy" required>
        </div>
        <div class="form-group">
            <label for="sensor2">Sensor S2:</label>
            <input type="file" class="form-control-file" id="sensor2" name="sensor2" accept=".npy" required>
        </div>
        <div class="form-group">
            <label for="sensor3">Sensor S3:</label>
            <input type="file" class="form-control-file" id="sensor3" name="sensor3" accept=".npy" required>
        </div>
        <div class="form-group">
            <label for="sensor4">Sensor S4:</label>
            <input type="file" class="form-control-file" id="sensor4" name="sensor4" accept=".npy" required>
        </div>
        <div class="form-group">
            <label for="sensor5">Sensor S5:</label>
            <input type="file" class="form-control-file" id="sensor5" name="sensor5" accept=".npy" required>
        </div>
        <button type="submit" class="btn btn-primary">Estimar</button>
    </form>
        <p>Somente arquivos no formato .npy são aceitos.</p>
        {% endif %}
    </div>
    </body>
    
</html>